.containerCom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1px;
    border-radius: 10px;
    background-color:#E5E1E6;
}

.container>div img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 3rem;
    
}